<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <% for (var x in user_data) { %>
                <h2><%= user_data[x].name %></h2>
            <% } %>
        </div>
        <div class="container">
            <h1>User Form</h1>
            <form action="/users" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
                <label for="age">Age:</label>
                <input type="number" name="age" id="age">
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</body>
</html>