<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <main>
            <form action="/user" method="post">
                <div class="form-group">
                <label for="name">Your Name:</label>
                <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                <label for="location">Dojo Location:</label>
                <select name="location" class="selector form-control">
                    <option value="los angeles">Los Angeles</option>
                    <option value="online">Online</option>
                    <option value="san fran">San Francisco</option>
                </select>
                </div>
                <div class="form-group">
                <label for="language">Favorite Language</label>
                <select name="language" class="form-control selector">
                    <option value="js">Javascript</option>
                    <option value="python">Python</option>
                    <option value="css">CSS</option>
                    <option value="c">C</option>
                </select>
                </div>
                <div class="form-group">
                <label for="textarea">Comment (optional):</label>
                <textarea name="textarea" class="form-control" id="textarea" cols="30" rows="10"></textarea>
                </div>
                <button class="btn-primary" type="submit">Submit</button>
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>