<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
    <div class="wrapper">
        <div class="registration">
            <h4>Register:</h4>
            <form action="/register" method="post">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
                <label for="password">Password:</label>
                <input type="password" name="password" id="">
                <label for="password_conf">Confirm Password:</label>
                <input type="password" name="password_conf">
                <label for="Birthday">Date of Birth</label>
                <input type="date" name="birthday" id="">
                <button type="submit">Register</button>
            </form>
            <h4>Login:</h4>
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password" id="">
                <button type="submit">Login</button>
            </form>
        </div>
        .
    </div>
</body>
</html>