<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SWAPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid wrapper">
        <h1 class="head">Star Wars Wiki</h1>
        <h3 class="head">What would you like to know more about?</h3>
    
        <div class="container buttons">
                <button id="peoplebtn" class="btn-primary"type="submit">People</button>
                <button id="planetbtn" class="btn-primary"type="submit">Planets</button>
        </div>
        <div class="container data">
            <ul id="content"></ul>
        </div>
        <div class="container links">
            <button id ="previous">Previous 10</button>
            <button id="all">Get all 61 planets</button>
            <button id="next">Next 10</button>
        </div>

    </div>
    <footer>
        <div class="container-fluid padding">

        </div>
    </footer>
    <script>
    $(document).ready(function() {
        let page = 1;
        $('#peoplebtn').click(function() {
            page = 1;
            $.get('/people', function(data) {
                $('#content').empty();
                const results = data.results;
                for (const result of results) {
                    $('#content').append(`<li>${result.name}</li>`);
                }
            }, 'json');
        });
        $('#planetbtn').click(function() {
            page = 1;
            $.get('/planets', function(data) {
                $('#content').empty();
                const results = data.results;
                for (const result of results) {
                    $('#content').append(`<li>${result.name}</li>`);

                }
            }, 'json')
        })

        $('')
    })
    </script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>