<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <% include ./partials/head %>
</head>
<body>
    <header>
        <%include ./partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Dogs</h1>
            <p>Templating with EJS</p>
            <div class="container-fluid">
                <img src="../images/dogs/dog1.jpg" alt="Responsive Image" class="img-fluid img-thumbnail mx-auto">
                <img src="../images/dogs/dog2.jpg" alt="Responsive Image" class="img-fluid img-thumbnail mx-auto">
                <img src="../images/dogs/dog3.jpg" alt="Responsive Image" class="img-fluid img-thumbnail mx-auto">
                <img src="../images/dogs/dog4.jpg" alt="Responsive Image" class="img-fluid img-thumbnail mx-auto">
            </div>
            
        </div>
        
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>