<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <% include ./partials/head %>
</head>
<body>
    <header>
        <%include ./partials/header %>
    </header>
    <main>
        <div class="container-fluid jumbotron">
        <form action="/add" method="post">
            <label for="car">Add New Car:</label>
            <input type="text" for="car">
            <button type="submit">Submit</button>
        </form>
        </div>
        
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>