<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
        	// triggers the connection event in our server!
            var socket = io.connect();
            // submit data to the server using emit
            $('#survey_form').submit(function(e) {
        		e.preventDefault();
				socket.emit("posting_form", {
				  	name: $('#name').val(),
                    location: $('#location').val(),
                    language: $('#language').val(),
                    comment: $('#comment').val()
                });
			});
        	//display the emit response of the server called "updated_message" and "random_number"
			socket.on('updated_message', function (data){
			    $('#message').html("You emitted the following information to the server: " + JSON.stringify(data.response));
			});
			socket.on('random_number', function (data){
			   $('#number').html("Your lucky number emitted by the server is : " + JSON.stringify(data.response));
			});
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <main>
            <article>
                <h2>Submitted Information</h2>
                <hr>
                <h2>Name:</h2>
                <h4><%= user.name %></h4>
                <h2>Location:</h2>
                <h4><%= user.location %></h4>
                <h2>Favorite Language:</h2>
                <h4><%= user.language %></h4>
                <h2>Comment (optional):</h2>
                <p><%= user.comment %></p>
            </article>
            <form action="/" method="get">
            <button class="btn-primary" type="submit">Go Back</button>
            </form>
        </main>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>