<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authors</title>
</head>
<body>
<div class="wrapper">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books/new">Create Book</a></li>
    </ul>
  </nav>
  <main>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
          <th>Publisher</th>
          <th>Future Actions</th>
        </tr>
      </thead>
      <tbody>
        <%for (const book of books) {%>
          <tr>
            <td><%=book.title%></td>
            <td><%=book.author.name%></td>
            <td><%=book.year%></td>
            <td><%=book.publisher%></td>
            <td>Future Actions</td>
          </tr>
        <%}%>
      </tbody>
    </table>

  </main>
</div>

</body>
</html>
