<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/authors/new">Create Authors</a></li>
            <li><a href="/books">Books</a></li>
        </ul>
    </nav>
    <main>
        <fieldset>
            <legend>Create Book</legend>
            <form action="/books" method="POST">
                <div>
                    <label>Title</label>
                    <input type="text" name="title">
                </div>
                <div>
                    <label>Author</label>
                    <select name="author" id="">
                    <% for (const author of authors) { %>
                        <option value="<%= author._id %>"><%=author.name %></option>
                    <% }%>
                    </select>
                </div>
                <div>
                    <label>pages</label>
                    <input type="number" name="pages">
                </div>
                <div>
                    <label>Year</label>
                    <input type="number" name="year">
                </div>
                <div>
                    <label>Publisher</label>
                    <input type="text" name="publisher">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </fieldset>
    </main>
</body>
</html>